<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarefas MARAVILHOSAS!</title>
    <link rel="stylesheet" href="/static/img/styles.css">
</head>
<body>
    <h1>Lista de Tarefas</h1>
    <div class="conteudo">
        <div class="lado-esquerdo">
            <img src="/static/img/gato.png" alt="" >

        </div>
        <div class="lado-direito">
            <a class="botao" href="/login">Já tenho uma conta</a>
            <a class="botao" href="/cadastro">Não tenho conta</a>
            <div class="mosca"> 
                <img src="/static/img/mosca.gif" alt="" width="2.8%" style="position: fixed; right: 400px; bottom: 50px">
            </div>
            

        </div>

    </div>    
</body>
</html>