<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listas!</title>
    <link rel="stylesheet" href="/static/img/styles.css">

</head>
<body>

    <div class="form-container">
        <form action="/criar_tarefa" method="POST">
            
            <div class="form-group">
                <input type="text" class="form-control" name="tarefa" required>
            </div>
            <button type="submit" class="btn btn-primary">Adicionar tarefa</button>
        </form>
    </div>
    


    
</body>
</html>